﻿@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en" style="background-color: #1c1c1c;">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="background-color: #1c1c1c;">
	<img src="~/Images/exampleimg5.jpg" class="mx-auto d-block rounded" style="width: 100%; height: 100%;" />
	<div class="jumbotron text-center text-light rounded" style="background-color: #484848;">
		<h1>Team Zero's Bike Shop!</h1>
		<h2>"We pretend to sell bikes here!"</h2>
		<p>
			<a type="button" class="btn btn-success" href="~/Shop/1">Shop Now!</a>
		</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-light" style="font-size:18px;">
				<h3 class="mx-auto d-block">Our Mission</h3>
				<p>&emsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae mauris gravida, dapibus nulla porttitor, pulvinar nulla. Sed laoreet odio sit amet aliquet convallis. Phasellus pretium ipsum at nibh condimentum, nec interdum risus ultricies. Nam semper tellus purus. Phasellus congue ex at nisi pellentesque rhoncus. In et mattis ante. Quisque dignissim vitae lacus sit amet tincidunt. Suspendisse potenti.</p>
				<p> &emsp; Duis velit justo, rutrum eu eros a, sagittis blandit est. Pellentesque condimentum vestibulum felis at varius. Maecenas sit amet enim eleifend, auctor elit id, tincidunt augue. Donec pharetra ex imperdiet, suscipit nunc eget, mattis nibh. Aenean lectus metus, facilisis ut mauris et, maximus venenatis dolor. Vestibulum interdum ac nulla eget faucibus. Nam pellentesque massa maximus, gravida libero vitae, dapibus quam. In pulvinar placerat tellus. Phasellus vitae bibendum nunc.</p>
			</div>

			<div class="col-sm-4 text-light"></div>

			<div class="col-sm-4 text-light" style="font-size:18px;">
				<h3 class="mx-auto d-block">Our Goals</h3>
				<p>&emsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae mauris gravida, dapibus nulla porttitor, pulvinar nulla. Sed laoreet odio sit amet aliquet convallis. Phasellus pretium ipsum at nibh condimentum, nec interdum risus ultricies. Nam semper tellus purus. Phasellus congue ex at nisi pellentesque rhoncus. In et mattis ante. Quisque dignissim vitae lacus sit amet tincidunt. Suspendisse potenti.</p>
				<p> &emsp; Duis velit justo, rutrum eu eros a, sagittis blandit est. Pellentesque condimentum vestibulum felis at varius. Maecenas sit amet enim eleifend, auctor elit id, tincidunt augue. Donec pharetra ex imperdiet, suscipit nunc eget, mattis nibh. Aenean lectus metus, facilisis ut mauris et, maximus venenatis dolor. Vestibulum interdum ac nulla eget faucibus. Nam pellentesque massa maximus, gravida libero vitae, dapibus quam. In pulvinar placerat tellus. Phasellus vitae bibendum nunc.</p>
			</div>
		</div>
	</div>
	<img src="~/Images/exampleimg4.jpg" class="mx-auto d-block rounded" style="width: 100%; height: 100%;" />
	<div class="container text-light lead" style="font-size: 24px;">
		<h3 class="mx-auto d-block">Our Story</h3>
		<p>&emsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae mauris gravida, dapibus nulla porttitor, pulvinar nulla. Sed laoreet odio sit amet aliquet convallis. Phasellus pretium ipsum at nibh condimentum, nec interdum risus ultricies. Nam semper tellus purus. Phasellus congue ex at nisi pellentesque rhoncus. In et mattis ante. Quisque dignissim vitae lacus sit amet tincidunt. Suspendisse potenti.</p>
		<p> &emsp; Duis velit justo, rutrum eu eros a, sagittis blandit est. Pellentesque condimentum vestibulum felis at varius. Maecenas sit amet enim eleifend, auctor elit id, tincidunt augue. Donec pharetra ex imperdiet, suscipit nunc eget, mattis nibh. Aenean lectus metus, facilisis ut mauris et, maximus venenatis dolor. Vestibulum interdum ac nulla eget faucibus. Nam pellentesque massa maximus, gravida libero vitae, dapibus quam. In pulvinar placerat tellus. Phasellus vitae bibendum nunc.</p>
		<p> &emsp;Praesent convallis elit felis, id interdum eros facilisis vitae. Cras faucibus vestibulum arcu, quis molestie enim molestie ut. Proin ut purus id ex volutpat commodo. Etiam finibus velit lorem, id condimentum mi interdum et. Aliquam mauris mauris, pharetra id sodales ut, laoreet vitae arcu. Morbi nunc nisi, malesuada in purus a, convallis rutrum odio. Maecenas laoreet, arcu vitae gravida pulvinar, urna orci malesuada elit, finibus faucibus massa leo non nisl. Phasellus sagittis nulla et ipsum fermentum maximus. Ut congue metus a fringilla bibendum. Donec tortor odio, malesuada ullamcorper vulputate id, tincidunt vitae enim. Maecenas viverra varius erat, id molestie turpis venenatis nec. Aliquam sed interdum diam. Fusce sed lectus eu magna posuere mattis. </p>
		<p> &emsp;Morbi nulla mauris, porta eu luctus vel, hendrerit a felis. Nunc sed egestas nisi. In pharetra consectetur sagittis. Mauris eget libero a est mattis aliquet sed eu felis. Vestibulum interdum dignissim convallis. Mauris tempor neque ut tortor molestie, a condimentum urna aliquam. Vivamus semper consequat tempor. Maecenas condimentum sodales lacus, quis fringilla felis sagittis ut. Praesent sit amet ligula dolor. Nullam ultrices lacus non lectus pellentesque pulvinar. Morbi iaculis venenatis lobortis. Ut leo urna, commodo ac erat at, pretium tempor risus. Curabitur lobortis mi a egestas bibendum. Donec orci leo, porta id semper eget, blandit convallis urna. Donec eu dapibus nisi, eu viverra purus. Proin scelerisque dui ac posuere consequat. </p>
	</div>
	<div class="container">
		<button class="text-light rounded" data-toggle="collapse" data-target="#hours" style="background-color: #333232; width: 100%; height: 50px; margin-bottom: 5px;">Store Hours</button>
		<div id="hours" class="collapse text-light text-center rounded" style="background-color:#3f3f3f; margin: 10px 10px 10px 10px;">
			<div class="container rounded" style="background-color: black; width: 35%;">
				<div class="row mx-auto d-flex">
					<div class="col text-right">
						Monday
					</div>
					<div class="col text-left">
						6:00AM - 11:00PM
					</div>
				</div>
				<div class="row mx-auto d-flex">
					<div class="col text-right">
						Tuesday
					</div>
					<div class="col text-left">
						6:00AM - 11:00PM
					</div>
				</div>
				<div class="row mx-auto d-flex">
					<div class="col text-right">
						Wednesday
					</div>
					<div class="col text-left">
						6:00AM - 11:00PM
					</div>
				</div>
				<div class="row mx-auto d-flex">
					<div class="col text-right">
						Thursday
					</div>
					<div class="col text-left">
						6:00AM - 11:00PM
					</div>
				</div>
				<div class="row mx-auto d-flex">
					<div class="col text-right">
						Friday
					</div>
					<div class="col text-left">
						6:00AM - 11:00PM
					</div>
				</div>
				<div class="row mx-auto d-flex">
					<div class="col text-right">
						Saturday
					</div>
					<div class="col text-left">
						9:00AM - 9:00PM
					</div>
				</div>
				<div class="row mx-auto d-flex">
					<div class="col text-right">
						Sunday
					</div>
					<div class="col text-left">
						9:00AM - 9:00PM
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<button class="text-light rounded" data-toggle="collapse" data-target="#Location" style="background-color: #333232; width: 100%; height: 50px; margin-bottom: 5px;">Store Location</button>
		<div id="Location" class="collapse text-light text-center rounded" style="background-color:#3f3f3f; margin: 10px 10px 10px 10px;">
			<div class="container rounded mx-auto" style="background-color: black; width: 25%;">
				1276 Gilbreath Dr., Box 70300, Johnson City, TN 37614-1700
			</div>
		</div>
	</div>
	<div class="container">
		<button class="text-light rounded" data-toggle="collapse" data-target="#employees" style="background-color: #333232; width: 100%; height: 50px; margin-bottom: 5px;">Employees</button>
		<div id="employees" class="collapse text-light text-center rounded" style="background-color:#3f3f3f; margin: 10px 10px 10px 10px;">
			<div class="row">
				<div class="container ml-auto rounded" style="margin: 20px 20px 20px 20px; width: 25%; background-color: black;">
					<div class="mx-auto">
						<img src="~/Images/avatar.png" class="mx-auto" style="width:60px; border: 4px solid green; background-color: white; margin-top: 10px; margin-bottom: 5px;">
					</div>
					<div class="mx-auto" style="width: 75%;">
						<h4>Tucker Shepard</h4>
						<p>Product Owner</p>
					</div>
				</div>
				<div class="container mr-auto rounded" style="margin: 20px 20px 20px 20px; width: 25%; background-color: black;">
					<div class="mx-auto">
						<img src="~/Images/avatar.png" class="mx-auto" style="width:60px; border: 4px solid red; background-color: white; margin-top: 10px; margin-bottom: 5px;">
					</div>
					<div class="mx-auto" style="width: 75%;">
						<h4>Thomas Roberts</h4>
						<p>Scrum Master</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container mx-auto rounded" style="width: 25%; background-color: black; margin-bottom: 15px;">
					<div class="mx-auto">
						<img src="~/Images/avatar.png" class="mx-auto" style="width:60px; border: 4px solid purple; background-color: white; margin-top: 10px; margin-bottom: 5px;">
					</div>
					<div class="mx-auto" style="width: 75%;">
						<h4>Alec Hamaker</h4>
						<p>Developer</p>
					</div>
				</div>
				<div class="container mx-auto rounded" style="width: 25%; background-color: black; margin-bottom: 15px;">
					<div class="mx-auto">
						<img src="~/Images/avatar.png" class="mx-auto" style="width:60px; border: 4px solid purple; background-color: white; margin-top: 10px; margin-bottom: 5px;">
					</div>
					<div class="mx-auto" style="width: 75%;">
						<h4>Ben Higgins</h4>
						<p>Developer</p>
					</div>
				</div>
				<div class="container mx-auto rounded" style="width: 25%; background-color: black; margin-bottom: 15px;">
					<div class="mx-auto">
						<img src="~/Images/avatar.png" class="mx-auto" style="width:60px; border: 4px solid purple; background-color: white; margin-top: 10px; margin-bottom: 5px;">
					</div>
					<div class="mx-auto" style="width: 75%;">
						<h4>Darien Roach</h4>
						<p>Developer</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
