﻿@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en" style="background-color: #1c1c1c;">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #1c1c1c;">
	<div class="jumbotron text-center text-light rounded" style="background-color: #484848;">
		<h2>Work for us!</h2>
		<h3>So we don't have to.</h3>
	</div>
	<img src="~/Images/careers.jpg" class="mx-auto d-block rounded" style="width: 100%; height: 100%;" />
	<div id="carousel" class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ul class="carousel-indicators">
			<li data-target="#indicator" data-slide-to="0" class="active"></li>
			<li data-target="#indicator" data-slide-to="1"></li>
			<li data-target="#indicator" data-slide-to="2"></li>
		</ul>

		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="container">
					<blockquote class="blockquote text-light">
						<p class="mb-0">We don't get paid so why should you?</p>
						<footer class="blockquote-footer">Developer at <cite title="">TeamZero</cite></footer>
					</blockquote>
				</div>
			</div>
			<div class="carousel-item">
				<div class="container">
					<blockquote class="blockquote text-light">
						<p class="mb-0">I can't even remember the last time I wasn't working.</p>
						<footer class="blockquote-footer">Developer at <cite title="">TeamZero</cite></footer>
					</blockquote>
				</div>
			</div>
			<div class="carousel-item">
				<div class="container">
					<blockquote class="blockquote text-light">
						<p class="mb-0">It's not like you would get a full nights rest working anywhere else anyway.</p>
						<footer class="blockquote-footer">Developer at <cite title="">TeamZero</cite></footer>
					</blockquote>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<button class="text-light rounded" data-toggle="collapse" data-target="#apply" style="background-color: #333232; width: 100%; height: 50px; margin-bottom: 5px;">Who can apply?</button>
		<div id="apply" class="collapse text-light text-center" style="background-color:#3f3f3f; margin: 10px 10px 10px 10px;">
			Praesent convallis elit felis, id interdum eros facilisis vitae. Cras faucibus vestibulum arcu, quis molestie enim molestie ut. Proin ut purus id ex volutpat commodo. Etiam finibus velit lorem, id condimentum mi interdum et. Aliquam mauris mauris, pharetra id sodales ut, laoreet vitae arcu. Morbi nunc nisi, malesuada in purus a, convallis rutrum odio. Maecenas laoreet, arcu vitae gravida pulvinar, urna orci malesuada elit, finibus faucibus massa leo non nisl. Phasellus sagittis nulla et ipsum fermentum maximus. Ut congue metus a fringilla bibendum. Donec tortor odio, malesuada ullamcorper vulputate id, tincidunt vitae enim. Maecenas viverra varius erat, id molestie turpis venenatis nec. Aliquam sed interdum diam. Fusce sed lectus eu magna posuere mattis.
		</div>
	</div>
	<div class="container">
		<button class="text-light rounded" data-toggle="collapse" data-target="#pay" style="background-color: #333232; width: 100%; height: 50px; margin-bottom: 5px;">What about the pay?</button>
		<div id="pay" class="collapse text-light text-center" style="background-color:#3f3f3f; margin: 10px 10px 10px 10px;">
			Etiam euismod tortor eu turpis euismod, at consectetur elit scelerisque. Maecenas odio purus, imperdiet vitae vulputate facilisis, viverra id diam. Vestibulum hendrerit, nunc eget pellentesque tempus, justo ex condimentum ligula, nec ornare mauris ipsum in urna. Vestibulum tincidunt quis enim vitae dapibus. Curabitur rhoncus mi vel fermentum aliquet. Sed commodo a sem vel vehicula. Suspendisse non odio iaculis, elementum dui in, dictum erat.
		</div>
	</div>
	<div class="container">
		<button class="text-light rounded" data-toggle="collapse" data-target="#hours" style="background-color: #333232; width: 100%; height: 50px; margin-bottom: 5px;">Work Hours</button>
		<div id="hours" class="collapse text-light text-center" style="background-color:#3f3f3f; margin: 10px 10px 10px 10px;">
			Morbi nulla mauris, porta eu luctus vel, hendrerit a felis. Nunc sed egestas nisi. In pharetra consectetur sagittis. Mauris eget libero a est mattis aliquet sed eu felis. Vestibulum interdum dignissim convallis. Mauris tempor neque ut tortor molestie, a condimentum urna aliquam. Vivamus semper consequat tempor. Maecenas condimentum sodales lacus, quis fringilla felis sagittis ut. Praesent sit amet ligula dolor. Nullam ultrices lacus non lectus pellentesque pulvinar. Morbi iaculis venenatis lobortis. Ut leo urna, commodo ac erat at, pretium tempor risus. Curabitur lobortis mi a egestas bibendum. Donec orci leo, porta id semper eget, blandit convallis urna. Donec eu dapibus nisi, eu viverra purus. Proin scelerisque dui ac posuere consequat.
		</div>
	</div>
	<div class="container">
		<button class="text-light rounded" data-toggle="collapse" data-target="#benefits" style="background-color: #333232; width: 100%; height: 50px; margin-bottom: 5px;">Benefits</button>
		<div id="benefits" class="collapse text-light text-center" style="background-color:#3f3f3f; margin: 10px 10px 10px 10px;">
			Duis velit justo, rutrum eu eros a, sagittis blandit est. Pellentesque condimentum vestibulum felis at varius. Maecenas sit amet enim eleifend, auctor elit id, tincidunt augue. Donec pharetra ex imperdiet, suscipit nunc eget, mattis nibh. Aenean lectus metus, facilisis ut mauris et, maximus venenatis dolor. Vestibulum interdum ac nulla eget faucibus. Nam pellentesque massa maximus, gravida libero vitae, dapibus quam. In pulvinar placerat tellus. Phasellus vitae bibendum nunc.
		</div>
	</div>
	<div class="container">
		<button class="text-light rounded" data-toggle="collapse" data-target="#applyForm" style="background-color: #333232; width: 100%; height: 50px; margin-bottom: 5px;">Apply Now</button>
		<div id="applyForm" class="collapse text-light text-center" style="margin: 10px 10px 10px 10px;">
			<input class="text-light rounded" type="text" placeholder="First Name" id="firstName" style="width: 50%; background-color:#1c1c1c; margin-bottom:5px;"/>
			<br />
			<input class="text-light rounded" type="text" placeholder="Last Name" id="lastName" style="width: 50%; background-color:#1c1c1c; margin-bottom:5px;" />
			<br />
			<input class="text-light rounded" type="text" placeholder="Email Address" id="email" style="width: 50%; background-color:#1c1c1c; margin-bottom:5px;" />
			<br />
			Resume:
			<input type="file" class="rounded text-light border mx-auto d-block" style="width: 50%; background-color:#1c1c1c; margin-bottom:5px;">
			<button type="button" class="btn btn-dark">Submit</button>
		</div>
	</div>



</body>
</html>
