﻿@{ ViewData["Title"] = "Home Page"; }

<!--
<div class="bg-image"
style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.jpg');
height: 100vh">
</div>
--->

<!DOCTYPE html>
<html lang="en" style="background-color: #1c1c1c;">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #1c1c1c;">
	<div class="jumbotron text-center text-light rounded" style="background-color: #484848;">
		<h1>Welcome to Team Zero's Bike Shop!</h1>
		<p>We pretend to sell bikes here!</p>
		<p>
			Our goal is to supply bicycles to anyone who needs one.
			We offer a wide variety of bicycles to fit anyone's needs.
		</p>
		
		<p>
			<a type="button" class="btn btn-success" href="~/Shop/1">Shop Now!</a>
		</p>
	</div>
	<div id="demo" class="carousel slide" data-ride="carousel">

	  <!-- Indicators -->
	  <ul class="carousel-indicators">
		<li data-target="#demo" data-slide-to="0" class="active"></li>
		<li data-target="#demo" data-slide-to="1"></li>
		<li data-target="#demo" data-slide-to="2"></li>
	  </ul>

	  <!-- The slideshow -->
	  <div class="carousel-inner">
		<div class="carousel-item active">
		  <img src="~/Images/bike1.jpg" class="rounded mx-auto d-block">
		</div>
		<div class="carousel-item">
		  <img src="~/Images/bike2.jpg" class="rounded mx-auto d-block">
		</div>
		<div class="carousel-item">
		  <img src="~/Images/bike3.jpg" class="rounded mx-auto d-block">
		</div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
		<span class="carousel-control-next-icon"></span>
	  </a>

	</div>
</body>
</html>
