﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<html lang="en" style="background-color: #1c1c1c;">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="text-light" style="background-color: #1c1c1c;">

<h1 class="text-light">@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat, mauris vestibulum finibus interdum, mauris eros suscipit est, ut aliquet elit erat eget lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis interdum massa dui, sed euismod dolor dignissim eget. Suspendisse potenti. Nullam quis ante sagittis, varius risus id, consequat nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id mauris posuere, ultricies tellus ut, tempor sem. Aliquam erat volutpat.

Sed rhoncus neque ac scelerisque mattis. Aenean fermentum lectus eget ex malesuada, vel luctus nibh condimentum. Pellentesque eu eros sem. Nulla facilisi. Nunc convallis, tortor vitae dictum malesuada, tortor libero aliquet dui, eu aliquet magna sapien ut orci. Suspendisse nec commodo magna. Aenean nec consectetur dolor. Donec ornare leo in condimentum egestas. Proin tincidunt viverra metus nec maximus. Cras eget venenatis dui, ut euismod risus. Duis faucibus, urna in mattis eleifend, purus arcu consectetur dolor, eu dictum nunc tellus at nulla.

Phasellus sed ornare justo. Proin tempus blandit feugiat. In volutpat imperdiet neque ac dapibus. Integer eleifend tortor ac magna tempor, non luctus nibh pellentesque. Pellentesque eleifend porttitor dolor, eu varius massa hendrerit sit amet. Nulla pretium risus eu est lobortis, non facilisis est vehicula. Integer rutrum, justo sed varius mattis, dui leo porttitor purus, a ornare mi velit sed ex. Vivamus egestas massa semper enim venenatis, vitae laoreet ante sagittis. Curabitur elit erat, ultrices at mattis eu, fermentum eu nunc. Sed sed quam vitae mauris fermentum pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

Aenean orci libero, imperdiet ac tellus sed, elementum aliquam odio. Vivamus efficitur metus arcu, ut molestie augue cursus mollis. Integer et erat rhoncus, elementum sem quis, aliquet urna. Etiam posuere purus nec nibh tincidunt tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam tellus nibh, facilisis eget sodales in, feugiat et odio. Nam volutpat dui pretium enim convallis ultricies. Morbi iaculis lacinia nunc, a faucibus magna maximus eget. Fusce egestas libero dapibus vestibulum interdum.

Duis bibendum neque eu semper efficitur. Maecenas consequat ex a nibh aliquam, eu blandit lectus efficitur. Nulla dignissim turpis nec sem vestibulum hendrerit. Etiam luctus ante eu sem convallis, non commodo nisl ultricies. Ut consectetur ante sed imperdiet faucibus. Nam viverra ante non enim laoreet, vitae vestibulum purus feugiat. Duis elementum enim eget ipsum laoreet suscipit. Vestibulum sit amet sodales diam. Integer cursus placerat facilisis. Suspendisse augue orci, hendrerit nec condimentum finibus, faucibus eget erat. Vestibulum laoreet lorem eu tempor volutpat. Nulla varius tincidunt efficitur.

Quisque iaculis ligula non velit tincidunt vehicula. Nam nibh orci, luctus nec massa eget, ornare dapibus tortor. Nullam laoreet euismod diam, vitae blandit sem tempor nec. Maecenas euismod neque eget libero condimentum lobortis eu sit amet nibh. Sed id elementum augue. Pellentesque venenatis diam sed posuere mollis. Pellentesque efficitur dolor et ultricies tincidunt. Suspendisse mollis venenatis quam, sit amet euismod sem maximus quis. Pellentesque ac massa nunc. Suspendisse lorem mi, convallis eu facilisis sit amet, pulvinar eget enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer tempus nec urna at commodo. Sed nec consequat velit, id congue leo.

Donec feugiat pretium turpis at aliquam. Donec et semper lorem, at gravida dolor. Praesent quis lobortis velit. Duis tempor aliquam lacus et eleifend. In facilisis neque vitae tincidunt vulputate. Integer id lectus sit amet eros hendrerit vestibulum ut volutpat magna. Fusce diam purus, faucibus sit amet lorem ut, fermentum pellentesque ex.

Ut vel ex convallis, consequat metus quis, molestie orci. Quisque semper rhoncus velit id laoreet. Mauris consectetur ut diam id vestibulum. Donec viverra justo ac dictum efficitur. Nunc mollis posuere quam vel interdum. Mauris sed mi fringilla tellus faucibus tincidunt. Mauris tincidunt lorem eu efficitur pulvinar. Fusce quis mauris vitae odio commodo euismod. Integer quam ex, rutrum at ipsum sed, sagittis finibus dui. Vivamus volutpat consectetur interdum. Etiam nec bibendum augue, ac commodo ligula. Sed consequat porttitor velit, sit amet consequat lectus.

Curabitur pretium nunc et felis accumsan, vel auctor justo euismod. Pellentesque porta urna aliquam, aliquet turpis sit amet, dignissim sem. Etiam pretium venenatis lobortis. Suspendisse in convallis turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur pulvinar aliquet ante eget consectetur. Curabitur sit amet posuere ante, ac faucibus libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum erat at purus consequat, molestie hendrerit erat finibus. Quisque suscipit rhoncus nisi, id lobortis justo tempor eget.

Cras tincidunt sagittis purus, in egestas mauris facilisis eget. In efficitur at sem non dictum. Curabitur magna tortor, auctor nec faucibus vitae, imperdiet non lectus. Vestibulum a tempor dui. Curabitur pretium faucibus semper. Pellentesque in tempus erat. Vestibulum vehicula magna arcu, non tincidunt lectus dignissim eget. Cras pulvinar consequat tortor non rutrum. Sed pellentesque rutrum nulla, non ornare lorem pretium id. Etiam imperdiet, lacus sed sollicitudin elementum, justo eros tempor nulla, in fermentum lacus lacus vitae turpis. Nulla condimentum viverra est, a condimentum elit volutpat quis. Sed ut dapibus eros.

Morbi tempor nibh ac nisl sodales tristique. Duis fermentum consectetur nunc sit amet condimentum. Sed eu enim sit amet augue egestas euismod ut sit amet diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent vel luctus metus. Duis enim est, tempor vitae lorem a, eleifend consequat justo. Ut nec augue vehicula elit pharetra tempor. Proin eros turpis, mattis nec nulla eget, placerat faucibus orci. Donec et sem nec erat hendrerit tristique in vitae turpis. Sed cursus nibh in justo tempor, non pellentesque justo imperdiet. Nam velit augue, pulvinar in lorem et, mollis mollis mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis lacus facilisis, mattis turpis viverra, elementum turpis. Proin vel sem tincidunt nunc interdum vehicula.

Integer in vulputate libero, eleifend congue ligula. Praesent suscipit, eros ut luctus gravida, nunc ante auctor metus, et congue turpis augue quis sem. Nullam euismod nec lacus ut feugiat. Nulla pretium sapien dictum leo consequat, ac tincidunt arcu volutpat. Nam egestas ultrices odio non rutrum. Nunc malesuada tincidunt risus, sit amet venenatis orci placerat eget. Cras sit amet venenatis libero, finibus vestibulum nisi. Etiam dignissim fringilla massa, vitae eleifend ligula rutrum lacinia. Pellentesque arcu felis, semper ut elit ac, sodales dapibus nulla. Mauris aliquam metus lacus, at semper erat luctus sed. Cras eget augue nec elit sagittis elementum sit amet ac risus. Aenean hendrerit turpis eu consequat venenatis.

Ut luctus eu nulla eget tincidunt. Nullam porttitor nunc nulla, sed imperdiet magna tristique mattis. Curabitur et tincidunt arcu. Sed condimentum turpis vitae scelerisque dignissim. Aliquam quis felis et nulla lobortis luctus ut eget nunc. Fusce elit ligula, viverra vel posuere ut, laoreet nec dui. In aliquam ante velit, non vestibulum felis rhoncus sit amet. Vestibulum eu sapien vehicula, tincidunt ligula aliquam, malesuada quam. Integer vestibulum leo nec lorem accumsan consectetur. Duis feugiat sem justo, laoreet blandit nisi aliquet nec. Integer nisi purus, mattis vel fermentum id, vulputate nec est. Quisque a magna non arcu fringilla rhoncus non quis lorem. Nam et neque id justo vestibulum interdum.

In fermentum laoreet purus semper volutpat. Pellentesque blandit eget nunc eget consequat. Morbi eleifend lacus quis dui lobortis laoreet. Curabitur ornare arcu sed eros volutpat efficitur. Sed eget justo eu tellus tristique varius sit amet a justo. Aliquam ut mollis justo. Nam vel purus non erat dapibus varius.

Integer elit augue, ornare ut porttitor quis, vulputate et leo. Donec vel diam non enim tempus sollicitudin. In faucibus molestie pretium. Maecenas gravida, risus at sodales dapibus, diam est luctus orci, eu fringilla erat odio non nibh. Vestibulum in sem eu ante vestibulum commodo ac a dolor. Donec dignissim non lectus ac consequat. Nulla ornare varius ante, quis consequat nisl convallis aliquet. Nulla facilisi. Duis nunc nulla, malesuada ut gravida imperdiet, laoreet ac lorem.

Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed imperdiet accumsan viverra. Donec blandit urna urna, scelerisque semper eros gravida placerat. Praesent vel tincidunt massa. Nullam molestie velit ut libero maximus dapibus. Suspendisse nunc ex, venenatis sit amet iaculis non, dignissim nec turpis. Praesent mauris libero, feugiat dapibus consectetur in, auctor ut ipsum. Donec turpis libero, ultrices tincidunt lorem id, venenatis porta ante. Nulla a finibus turpis, viverra porttitor tortor. Quisque eu tristique ante. Cras imperdiet ante odio, vel bibendum metus aliquam eu.

Aliquam tincidunt, neque vel lobortis vestibulum, dui diam venenatis nunc, non mattis massa magna nec erat. Phasellus imperdiet risus sit amet nibh vulputate egestas. Cras malesuada turpis sit amet risus vehicula accumsan. Maecenas porta massa vel metus malesuada iaculis. Donec venenatis luctus magna, vel facilisis ligula congue at. Ut tortor sapien, scelerisque ullamcorper tempor vitae, congue ut libero. Aenean ac turpis a ex fringilla maximus. Mauris scelerisque, libero nec maximus mollis, mauris nunc porttitor nunc, a luctus lacus augue non nulla. Vestibulum aliquet sapien ac urna dapibus, non bibendum mauris interdum. Pellentesque sed arcu ac nisl condimentum venenatis eu ut risus. Donec scelerisque urna ac maximus tempor. Nunc eget nunc ac nibh scelerisque pulvinar mattis ut eros. Quisque auctor diam vel felis ornare commodo. Phasellus in ipsum maximus, tincidunt erat a, molestie metus. Donec lectus lorem, laoreet sed blandit feugiat, mattis sed mi.

Vestibulum accumsan non risus quis elementum. Praesent tincidunt metus vel tortor tristique, at dapibus urna sagittis. Mauris et lobortis sapien, nec suscipit magna. Integer mattis tellus quis ante rhoncus venenatis et a libero. Phasellus rhoncus nisl est, quis efficitur ex consequat eget. Pellentesque non enim a ligula congue tempus a et mi. Suspendisse libero nisi, tincidunt eu metus non, tristique lacinia orci. Vivamus quis hendrerit mauris. Cras sit amet felis sed diam laoreet gravida pretium dignissim lectus.

In aliquet ex sed justo ullamcorper faucibus. Donec faucibus, eros vitae rhoncus tempus, velit purus finibus turpis, a vehicula sem risus at nisi. Aliquam sed pharetra velit, non dapibus nisi. Sed ipsum risus, commodo non nisl sit amet, placerat ultricies eros. Donec ut aliquet turpis, et luctus nibh. Proin ornare velit nec tellus venenatis, id finibus justo tempor. Vivamus egestas eget nunc vitae elementum. Curabitur facilisis, neque vel viverra pulvinar, justo elit volutpat arcu, et posuere nulla purus ut sem.

Pellentesque et leo augue. Proin ut diam sodales, fermentum arcu quis, pharetra leo. Integer a nibh sed dolor iaculis auctor vel vel lectus. Nullam id eros consequat, maximus sapien in, imperdiet libero. Etiam nec maximus tellus. Suspendisse nec volutpat urna, sed blandit metus. Integer faucibus, odio vitae sollicitudin rutrum, risus dolor fringilla sem, ac ornare magna turpis id orci. Vestibulum eu facilisis ipsum. Cras tellus ligula, blandit id est vel, molestie tincidunt lorem. Curabitur commodo nisi consequat ultricies blandit.</p>
	</body>
</html>
