﻿@page
@model RegisterModel
@{ ViewData["Title"] = "Register"; }
<html style="background-color: #1c1c1c;">
<body style="background-color: #1c1c1c;">

	<h1 class="text-light">@ViewData["Title"]</h1>

	<div class="row text-light">
		<div class="col-md-4">
			<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
				<h4>Create a new account.</h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Input.Email"></label>
					<input asp-for="Input.Email" class="form-control" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.FirstName"></label>
					<input asp-for="Input.FirstName" class="form-control" />
					<span asp-validation-for="Input.FirstName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.LastName"></label>
					<input asp-for="Input.LastName" class="form-control" />
					<span asp-validation-for="Input.LastName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.Address"></label>
					<input asp-for="Input.Address" class="form-control" />
					<span asp-validation-for="Input.Address" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.ZIPCode"></label>
					<input asp-for="Input.ZIPCode" class="form-control" />
					<span asp-validation-for="Input.ZIPCode" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.Phone"></label>
					<input asp-for="Input.Phone" class="form-control" />
					<span asp-validation-for="Input.Phone" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.Password"></label>
					<input asp-for="Input.Password" class="form-control" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.ConfirmPassword"></label>
					<input asp-for="Input.ConfirmPassword" class="form-control" />
					<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</div>
		<!--
		<div class="col-md-6 col-md-offset-2">
			<section>
				<h4>Use another service to register.</h4>
				<hr />
				@{ if ((Model.ExternalLogins?.Count ?? 0) == 0)
								{
					<div>
						<p>
							There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
							for details on setting up this ASP.NET application to support logging in via external services.
						</p>
					</div> }
								else
								{
					<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
						<div>
							<p>
								@foreach (var provider in Model.ExternalLogins)
								{
				<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>}
							</p>
						</div>
					</form> } }
			</section>
		</div>
			-->
	</div>
</body>
</html>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
