﻿@model TeamZeroFrontEnd.Models.BicycleViewModel

@{ ViewData["Title"] = "Create"; }

<html style="background-color: #1c1c1c;">
<body style="background-color: #1c1c1c;">
	<h2 class="text-light">Create</h2>

	<h4 class="text-light">BicycleViewModel</h4>
	<hr />
	<div class="row text-light">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="ChainStay" class="control-label"></label>
					<input asp-for="ChainStay" class="form-control" />
					<span asp-validation-for="ChainStay" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ComponentList" class="control-label"></label>
					<input asp-for="ComponentList" class="form-control" />
					<span asp-validation-for="ComponentList" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Construction" class="control-label"></label>
					<input asp-for="Construction" class="form-control" />
					<span asp-validation-for="Construction" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustomerID" class="control-label"></label>
					<input asp-for="CustomerID" class="form-control" />
					<span asp-validation-for="CustomerID" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CustomName" class="control-label"></label>
					<input asp-for="CustomName" class="form-control" />
					<span asp-validation-for="CustomName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="EmployeeID" class="control-label"></label>
					<input asp-for="EmployeeID" class="form-control" />
					<span asp-validation-for="EmployeeID" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FrameAssembler" class="control-label"></label>
					<input asp-for="FrameAssembler" class="form-control" />
					<span asp-validation-for="FrameAssembler" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FramePrice" class="control-label"></label>
					<input asp-for="FramePrice" class="form-control" />
					<span asp-validation-for="FramePrice" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="FrameSize" class="control-label"></label>
					<input asp-for="FrameSize" class="form-control" />
					<span asp-validation-for="FrameSize" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="HeadTubeAngle" class="control-label"></label>
					<input asp-for="HeadTubeAngle" class="form-control" />
					<span asp-validation-for="HeadTubeAngle" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="LetterStyleID" class="control-label"></label>
					<input asp-for="LetterStyleID" class="form-control" />
					<span asp-validation-for="LetterStyleID" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ListPrice" class="control-label"></label>
					<input asp-for="ListPrice" class="form-control" />
					<span asp-validation-for="ListPrice" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ModelType" class="control-label"></label>
					<input asp-for="ModelType" class="form-control" />
					<span asp-validation-for="ModelType" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="OrderDate" class="control-label"></label>
					<input asp-for="OrderDate" class="form-control" />
					<span asp-validation-for="OrderDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Painter" class="control-label"></label>
					<input asp-for="Painter" class="form-control" />
					<span asp-validation-for="Painter" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PaintID" class="control-label"></label>
					<input asp-for="PaintID" class="form-control" />
					<span asp-validation-for="PaintID" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="SalePrice" class="control-label"></label>
					<input asp-for="SalePrice" class="form-control" />
					<span asp-validation-for="SalePrice" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="SaleState" class="control-label"></label>
					<input asp-for="SaleState" class="form-control" />
					<span asp-validation-for="SaleState" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="SalesTax" class="control-label"></label>
					<input asp-for="SalesTax" class="form-control" />
					<span asp-validation-for="SalesTax" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="SeatTubeAngle" class="control-label"></label>
					<input asp-for="SeatTubeAngle" class="form-control" />
					<span asp-validation-for="SeatTubeAngle" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="SerialNumber" class="control-label"></label>
					<input asp-for="SerialNumber" class="form-control" />
					<span asp-validation-for="SerialNumber" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ShipDate" class="control-label"></label>
					<input asp-for="ShipDate" class="form-control" />
					<span asp-validation-for="ShipDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ShipEmployee" class="control-label"></label>
					<input asp-for="ShipEmployee" class="form-control" />
					<span asp-validation-for="ShipEmployee" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ShipPrice" class="control-label"></label>
					<input asp-for="ShipPrice" class="form-control" />
					<span asp-validation-for="ShipPrice" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="StartDate" class="control-label"></label>
					<input asp-for="StartDate" class="form-control" />
					<span asp-validation-for="StartDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="StoreID" class="control-label"></label>
					<input asp-for="StoreID" class="form-control" />
					<span asp-validation-for="StoreID" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="TopTube" class="control-label"></label>
					<input asp-for="TopTube" class="form-control" />
					<span asp-validation-for="TopTube" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="WaterBottleBrazeons" class="control-label"></label>
					<input asp-for="WaterBottleBrazeons" class="form-control" />
					<span asp-validation-for="WaterBottleBrazeons" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-info" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</body>
</html>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
