﻿@model TeamZeroFrontEnd.Models.BicycleViewModel

@{ ViewData["Title"] = "Details"; }
<html style="background-color: #1c1c1c;">
<body style="background-color: #1c1c1c;">


	<h2 class="text-light">Details</h2>

	<div>
		<h4 class="text-light">BicycleViewModel</h4>
		<hr />
		<dl class="dl-horizontal text-light">
			<dt>
				@Html.DisplayNameFor(model => model.ChainStay)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ChainStay)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ComponentList)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ComponentList)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Construction)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Construction)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.CustomerID)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.CustomerID)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.CustomName)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.CustomName)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.EmployeeID)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.EmployeeID)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.FrameAssembler)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.FrameAssembler)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.FramePrice)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.FramePrice)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.FrameSize)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.FrameSize)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.HeadTubeAngle)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.HeadTubeAngle)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.LetterStyleID)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.LetterStyleID)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ListPrice)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ListPrice)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ModelType)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ModelType)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.OrderDate)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.OrderDate)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Painter)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Painter)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.PaintID)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.PaintID)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.SalePrice)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.SalePrice)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.SaleState)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.SaleState)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.SalesTax)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.SalesTax)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.SeatTubeAngle)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.SeatTubeAngle)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.SerialNumber)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.SerialNumber)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ShipDate)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ShipDate)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ShipEmployee)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ShipEmployee)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.ShipPrice)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.ShipPrice)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.StartDate)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.StartDate)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.StoreID)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.StoreID)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.TopTube)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.TopTube)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.WaterBottleBrazeons)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.WaterBottleBrazeons)
			</dd>
		</dl>
	</div>
	<div>
		@Html.ActionLink("Edit", "Edit", new { id = Model.SerialNumber }) |
		<a asp-action="Index">Back to List</a>
	</div>
</body>
</html>
