﻿@model List<TeamZeroFrontEnd.Models.BicycleViewModel>

@{ ViewData["Title"] = "Index"; }
<html style="background-color: #1c1c1c;">
<body style="background-color: #1c1c1c;">
	<h1 class="text-light">Index</h1>

	<p class="text-light">
		<a asp-action="Create">Create New</a>
	</p>
	<table class="table text-light">
		@if (Model.Count > 0)
		{
<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model[0].SerialNumber)
		</th>
		<th>
			@Html.DisplayNameFor(model => model[0].ListPrice)
		</th>
		<th>
			@Html.DisplayNameFor(model => model[0].ModelType)
		</th>
		<th>
			@Html.DisplayNameFor(model => model[0].SalePrice)
		</th>
		<th>
			@Html.DisplayNameFor(model => model[0].SaleState)
		</th>
		<th>
			@Html.DisplayNameFor(model => model[0].SalesTax)
		</th>
		<th>
			@Html.DisplayNameFor(model => model[0].ShipPrice)
		</th>
		<th></th>
	</tr>
</thead>}
		<tbody>
			@foreach (var item in Model)
			{
<tr>
	<td>
		@Html.DisplayFor(modelItem => item.SerialNumber)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.ListPrice)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.ModelType)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.SalePrice)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.SaleState)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.SalesTax)
	</td>
	<td>
		@Html.DisplayFor(modelItem => item.ShipPrice)
	</td>
	<td>
		@Html.ActionLink("Edit", "Edit", new { id = item.SerialNumber }) |
		@Html.ActionLink("Details", "Details", new { id = item.SerialNumber }) |
		@Html.ActionLink("Delete", "Delete", new { id = item.SerialNumber })
	</td>
</tr>}
		</tbody>
	</table>
</body>
</html>
