﻿@using TeamZeroFrontEnd.Models
@using TeamZeroFrontEnd.Models.Entities
@model Tuple<List<BicycleViewModel>, List<ShoppingCartEntry>>
@{
	int row = 0;
	int col = 0;
	Random rnd = new Random();
	decimal subtotal = 0;
	decimal total = 0;
	//Model.Item1.ForEach(e => total += e.ListPrice);
	foreach (var bike in Model.Item1)
	{
		int amount = Model.Item2.FirstOrDefault(e => e.BicycleSerialNumber == bike.SerialNumber).Amount;
		subtotal += bike.ListPrice * amount;
		total += (bike.ListPrice + bike.SalesTax + bike.ShipPrice) * amount;
	}
}
<body style="background-color: #1c1c1c;">
	<h1 class="text-light">Checkout | Subtotal: @subtotal.ToString("C")</h1>
	@foreach (var bike in Model.Item1)
	{
		if (col == 0)// if we are on the first entry in the column (we just made a new row)
		{
			this.WriteLiteral("<div class='row text-light'>");
		}
		<div class="col" style="border: 2px solid gray; margin: 5px 5px 5px 5px; background-color: #b2b2b2; width: 100%;">
			<div class="container mx-auto d-flex">
				<div class="col-sm text-dark" style="font-size: 18px; margin-top: 20px; margin-bottom: 20px;">
					Serial Number: <br />
					Price: <br />
					Sales Tax: <br />
					Shipping: <br />
					Type: <br />
					Quantity:
				</div>
				<div class="col-sm text-dark" style="font-size: 18px; margin-top: 20px; margin-bottom: 20px;">
					@bike.SerialNumber <br />
					@bike.ListPrice.ToString("C") <br />
					@bike.SalesTax.ToString("C") <br />
					@bike.ShipPrice.ToString("C")<br />
					@bike.ModelType <br />
					@Model.Item2.FirstOrDefault(e => e.BicycleSerialNumber == bike.SerialNumber).Amount <br />
				</div>
			</div>
		</div>
		col++;
		if (col == 1)
		{
			col = 0;
			row++;
			this.WriteLiteral("</div>");
		}
	}
	<div class="col text-light text-right" style="margin-top: 20px;">
		<h1>Total: @total.ToString("C")</h1>
	</div>
	<div class="col text-light" style="margin-top: 20px;">
		<button class="btn btn-success float-right" onclick="location.href = ''">Continue To Payment</button>
	</div>
</body>
