﻿@using Microsoft.AspNetCore.Identity
@using TeamZeroFrontEnd.Controllers
@model IEnumerable<TeamZeroFrontEnd.Models.BicycleViewModel>
@inject IShoppingCartRepository cartRepo
@inject IApplicationUserRepository userRepo



@{
	ViewData["Title"] = "Index";
	int row = 0;
	int col = 0;
	Random rnd = new Random();
}
<html lang="en" style="background-color: #1c1c1c;">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="background-color: #1c1c1c;">
	<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
			Order By
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" style="background-color: #1c1c1c;">
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onlclick="location.href='/Shop/1'">None</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/True'">Price: Low $ -> High $$$</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/False'">Price: High $$$ -> Low $</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Hybrid/True'">Type: Hybrid ($ -> $$$)</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Hybrid/False'">Type: Hybrid ($$$ -> $)</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Mountain/True'">Type: Mountain ($ -> $$$)</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Mountain/False'">Type: Mountain ($$$ -> $)</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Race/True'">Type: Race ($ -> $$$)</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Race/False'">Type: Race ($$$ -> $)</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Road/True'">Type: Road ($ -> $$$)</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Road/False'">Type: Road ($$$ -> $)</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Tour/True'">Type: Tour ($ -> $$$)</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Tour/False'">Type: Tour ($$$ -> $)</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Track/True'">Type: Track ($ -> $$$)</button></li>
			<li><button class="text-left text-light" style="width: 100%; background-color: transparent; border: none;" onclick="location.href='/Shop/1/Track/False'">Type: Track ($$$ -> $)</button></li>
		</ul>
	</div>
	@foreach (var bike in Model)
	{
		if (col == 0)// if we are on the first entry in the column (we just made a new row)
		{
			this.WriteLiteral("<div class='row text-light'>");
		}
		<div class="col" style="border: 2px solid gray; margin: 5px 5px 5px 5px; background-color: #b2b2b2; width: 100%;">
			<div class="container mx-auto d-flex">
				<div class="row" style="margin:10px 10px 10px 10px;">
					<img class="mr-auto rounded" src="~/Images/bike@(rnd.Next(1, 5)).jpg" style="width: 261.27px; height: 121.97px; margin:10px 10px 10px 0px; border:3px solid black;" />
					<button class="btn btn-outline-success mr-auto" style="margin-top: 20px; margin-right: 25%;" onclick="location.href = '/Shop/AddToCart/@bike.SerialNumber/@Context.Request.Path.ToUriComponent().Split('/')[2]'">Add to cart</button>
					<button type="button" class="btn btn-info" style="margin-top: 20px;" data-toggle="modal" data-target="#details_@bike.SerialNumber">Details</button>
				</div>
				<div class="col-sm text-dark" style="font-size: 18px; margin-top: 20px;">
					Price: <br />
					Type:
				</div>
				<div class="col-sm text-dark" style="font-size: 18px; margin-top: 20px;">
					@bike.ListPrice.ToString("C") <br />
					@bike.ModelType

					<button class="btn btn-success" style="margin-top: 20px;" onclick="location.href='/Shop/BuyNow/@bike.SerialNumber'">Buy Now</button>

					<!-- Modal -->
					<div id="details_@bike.SerialNumber" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title text-center">Bicycle Serial Number: @bike.SerialNumber</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col">
											Price:<br />
											Type:<br />
											Construction:<br />
											Frame Size:<br />
											Sale State:<br />
											Sales Tax:
										</div>
										<div class="col">
											@bike.ListPrice.ToString("C")<br />
											@bike.ModelType<br />
											@bike.Construction<br />
											@bike.FrameSize<br />
											@bike.SaleState<br />
											@bike.SalesTax.ToString("C")
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		col++;
		if (col == 2)
		{
			col = 0;
			row++;
			this.WriteLiteral("</div>");
		}
	}

	<div class="container mx-auto d-flex" style="margin-top: 20px;">
		<ul class="pagination mx-auto">
			@{

				Int32.TryParse(Context.Request.Path.ToUriComponent().Split("/")[2], out int currPage);
			}
			@if (Context.Request.Path.Value.EndsWith("1"))
			{

				<li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
				<li class="page-item active"><a class="page-link" href="~/Shop/1">1</a></li>
			}
			else
			{
				int prevPage = currPage - 1;
				<li class="page-item"><a class="page-link" href="~/Shop/@prevPage">Previous</a></li>
				<li class="page-item"><a class="page-link" href="~/Shop/1">1</a></li>
			}
			@if (Context.Request.Path.Value.EndsWith("2"))
			{

				<li class="page-item active"><a class="page-link" href="~/Shop/2">2</a></li>
			}
			else
			{

				<li class="page-item"><a class="page-link" href="~/Shop/2">2</a></li>
			}
			@if (Context.Request.Path.Value.EndsWith("3"))
			{
				<li class="page-item active"><a class="page-link" href="~/Shop/3">3</a></li>
				<li class="page-item disabled"><a class="page-link" href="">Next</a></li>
			}
			else
			{
				int nextPage = currPage + 1;
				<li class="page-item"><a class="page-link" href="~/Shop/3">3</a></li>
				<li class="page-item"><a class="page-link" href="~/Shop/@nextPage">Next</a></li>
			}
		</ul>
	</div>

</body>
</html>


