﻿@using TeamZeroFrontEnd.Models
@using TeamZeroFrontEnd.Models.Entities
@model Tuple<List<BicycleViewModel>, List<ShoppingCartEntry>>
@{
	int row = 0;
	int col = 0;
	Random rnd = new Random();
	decimal total = 0;
	//Model.Item1.ForEach(e => total += e.ListPrice);
	foreach (var bike in Model.Item1)
	{
		int amount = Model.Item2.FirstOrDefault(e => e.BicycleSerialNumber == bike.SerialNumber).Amount;
		total += bike.ListPrice * amount;
	}
}
<body style="background-color: #1c1c1c;">
	<h1 class="text-light">Shopping Cart | Subtotal: @total.ToString("C")</h1>
	@foreach (var bike in Model.Item1)
	{
		if (col == 0)// if we are on the first entry in the column (we just made a new row)
		{
			this.WriteLiteral("<div class='row text-light'>");
		}
		<div class="col" style="border: 2px solid gray; margin: 5px 5px 5px 5px; background-color: #b2b2b2; width: 100%;">
			<div class="container mx-auto d-flex">
				<div class="row" style="margin:10px 10px 10px 10px;">
					<img class="mr-auto rounded" src="~/Images/bike@(rnd.Next(1, 5)).jpg" style="width: 261.27px; height: 121.97px; margin:10px 10px 10px 0px; border:3px solid black;" />
					<button class="btn btn-outline-danger mr-auto" style="margin-top: 20px;" onclick="location.href = 'RemoveFromCart/@bike.SerialNumber'">Remove From Cart</button>
				</div>
				<div class="col-sm text-dark" style="font-size: 18px; margin-top: 20px;">
					Price: <br />
					Type: <br />
					Quantity:
				</div>
				<div class="col-sm text-dark" style="font-size: 18px; margin-top: 20px;">
					@bike.ListPrice.ToString("C") <br />
					@bike.ModelType <br />
					@Model.Item2.FirstOrDefault(e => e.BicycleSerialNumber == bike.SerialNumber).Amount <br />
					<button class="btn btn-success" style="margin-top: 20px;" onclick="location.href = 'AddOne/@bike.SerialNumber'">+</button>
					<button class="btn btn-success" style="margin-top: 20px;" onclick="location.href = 'RemoveOne/@bike.SerialNumber'">-</button>
				</div>
			</div>
		</div>
		col++;
		if (col == 2)
		{
			col = 0;
			row++;
			this.WriteLiteral("</div>");
		}
	}
	<div class="col text-light" style="margin-top: 20px;">
		<button class="btn btn-info float-right" onclick="location.href = 'Checkout'">Checkout</button>
		<button class="btn btn-danger float-left" onclick="location.href = 'ClearCart'">Empty Shopping Cart</button>
	</div>
</body>