﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IApplicationUserRepository userRepo

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
{
    var user = userRepo.Read(User.Identity.Name);
    var name = $"{user.FirstName} {user.LastName}";
	<li class="nav-item">
		<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @name!</a>
	</li>
	<li class="nav-item">
		<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
			<button type="submit" class="nav-link btn btn-link text-light">Logout</button>
		</form>
	</li>
	<li class="nav-item">
		<a href="/Shop/ShoppingCart"><img src="~/Images/Cart.svg" style="width: 25px; height: 25px; margin: 0 auto;" /></a>
	</li>

}
else
{
	<li class="nav-item">
		<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
	</li>
}
</ul>
